#title-box{
  background-color: rgb(253, 216, 7);
  width: 170px;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  margin-left: 0px;

}

h4{
  font-size: 0.4em;
  padding: 7px;
}


h2{
  font-size: 3em;
}


#back{
  background-color: rgb(253, 216, 7);
  color: black;
  text-align: center;
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  height: 400px;

}


#back h1{
  color: black;
  font-size: 5em;

}

#back p{
  font-size: 9px;
  color: black;

}

#back h3{
  color: black;
  font-size: 8px;
  padding-top: 4px;

}

.P{
 background-color: black;
}


.logos{
  display: block;
  padding-top: 40px;
  
}

